*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img{
    max-inline-size: 100%;
    display: block;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
a{
    color: #439e27; 
}
a:focus-visible,
a:hover{
    color: #5f9b9f;
}
.primary-navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.primary-navigation a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.primary-navigation a:hover,
.primary-navigation a:focus-visible{
    color:#5f9b9f ;
}
body{
    line-height: 1.5;
    color: #1b281b;  
}
section{
    margin-block: 100px;
}

h1{
    font-size: 3.5rem;
    line-height: 1.1;
    text-align: center;
    @media(width>750px){
        font-size: 7.5rem;
    }
}
h2{
    font-size: 33px;
    color: #ca731c;
}
p{
    margin-block: 30px;
}
footer{
    text-align: center;
}
.teal-bg {
    background-color: #087997;
    border: 5px;
    border-style: solid;
    border-color: #084859;
    color:white;
    padding: 20px;
    margin-inline: 20px;
    margin-block: 30px;
}
.teal-text{
    color: #3a91ad
}

.climber-bg{
    color:white;
    background-image: url("../images/simple-steps.jpg");
    padding: 24px;
    border: #0b4a5a solid 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ul li::marker{
    content: '❤️';
} */
.wrapper{
    max-inline-size: 1000px;
    margin-inline:auto;
}
.two-column-layout{
    display: grid;
    gap: 60px;
    @media(width>750px) {
        grid-template-columns: 1fr 1fr;
    }
    
}